<script src="~/Scripts/eAzolution/Sales/Mobile/MobileSummary.js"></script>
<div class="leftDiv">
    <fieldset class="k-content">
        <legend class="k-fontsize[10]">Mobile Summery </legend>
		<div id="mblSummaryDiv" class="divSummary">
          
           
			<div id="popup" style="display: none" >

				<div class="divDetails" id="divDeailsvalidation">



					<div class="k-block">
                     
                       
						<h2 class="k-header centerAlign">Mobile Details</h2>
						<input type="hidden" id="hdnMobileId2" />
						<ul>
							<li>
								<label class="lbl widthSize20_per rightAlign">ModelName</label>
								<input class="k-textbox" id="txtModelName2"/>

							</li>
							<li>
								<label class="lbl widthSize20_per rightAlign">Brand</label>
								<input id="cmbBrand2" />
							</li>
							<li>
								<label class="lbl widthSize20_per rightAlign">Color</label>
								<input id="cmbColor2"/>
							</li>
							<li>
								<label class="lbl widthSize20_per rightAlign">Price</label>
								<input class="k-textbox" id="txtPrice2" />
							</li>
							<li>
								<label class="lbl widthSize20_per rightAlign">Is5G</label>
								<input type="radio" name="Is5G" id="rd5G2" value="1"  /> Yes
								<input type="radio" name="Is5G" id="rdnot5G2" value="0" /> No
							</li>

							<li>
								<label class="lbl widthSize20_per rightAlign">IsSmart</label>
								<input type="checkbox" id="chkIsSmart2" name="IsActive" class="k-checkbox" />

							</li>


							<li class="accept">
								<button id="btnSave2" class="k-button" type="submit">Save</button>
								<button id="btnClear" class="k-button">Clear</button>
							</li>
						</ul>
					</div>

				</div>
			</div>

			</div>	
        <div class="divDetails">
            <ul class="centerAlign">
                <li class="accept">

                    <button id="btnprint" type="submit">Print</button>
                </li>
            </ul>
        </div>
</fieldset>
</div>